<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="/widget/meate/meate.html?__inline">
  <link rel="stylesheet" href="../site/index/index.css">
</head>

<body>
  <link rel="import" href="/widget/head/head.html?__inline">
  <link rel="import" href="/widget/footer/footer.html?__inline">
  <div class="mui-content">

  </div>
  <script src="site/index/index.js" charset="utf-8"></script>
  <script type="text/javascript">
    //获得slider插件对象
    //index.init();
    var index = require('index/index');
    index.init();
  </script>
</body>

</html>
