<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="import" href="/widget/meate/meate.html?__inline">
    <link rel="stylesheet" href="../site/index/index.css">
</head>

<body>
    <div id="slider" class="mui-slider">
        <img src="/imgs/test/3.jpg">
    </div>
    <!--菜单开始-->
    <ul class="mui-table-view mui-grid-view mui-grid-9">
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" data-guid="newslist" id="1">
            <a>
                <span class="mui-icon mui-icon-home"></span>
                <div class="mui-media-body">新闻资讯</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" data-guid="newslist"  id="2">
            <a href="#">
                <span class="mui-icon mui-icon-email">
                    <span class="mui-badge">5</span>
                </span>
                <div class="mui-media-body">体育场馆</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" data-guid="newslist" id="3">
            <a href="#">
                <span class="mui-icon mui-icon-chatbubble"></span>
                <div class="mui-media-body">挂牌交流</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" data-guid="newslist" id="4">
            <a href="#">
                <span class="mui-icon mui-icon-location"></span>
                <div class="mui-media-body">精彩视频</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" data-guid="newslist" id="5">
            <a href="#">
                <span class="mui-icon mui-icon-search"></span>
                <div class="mui-media-body">营养健康</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" id="6">
            <a href="#">
                <span class="mui-icon mui-icon-more"></span>
                <div class="mui-media-body">敬请期待</div>
            </a>
        </li>
    </ul>
    <!--图文列表开始-->
    <ul class="mui-table-view mui-table-view-chevron" id="list">

    </ul>
    <script type="text/javascript">
        var main = require('index/main');
        main.init();
    </script>
</body>

</html>
