<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="/widget/meate/meate.html?__inline">
  <link rel="stylesheet" href="../../site/index/index.css">
  <link rel="stylesheet" href="../../site/news/detail/detail.css">
  <title>ces</title>
</head>

<body>
  <div class="mui-content">
    <div id="detail">
      <!-- <h2><%= data.title%></h2>
      <div class="content">asdasdad 到底发生的
      <p><span style="font-size: 18px;">为确保直播视觉效果更佳，俱乐部将还未及时返青的夏季草进行了更换。随着天气转暖，草坪养护所呈现的效果将大幅提升。</span></p> <p style="text-align: center;"><img alt="" src="http://dfs.jianyezuqiu.cn:8090/group2/M01/08/61/CqwC8FbsxBiARwQuAAG-3cLl7dc476.jpg"/></p> <p style="text-align: center;"><img alt="" src="http://dfs.jianyezuqiu.cn:8090/group2/M01/08/71/CqsS71bsxCmAK3bCAAEm6rv67XE925.jpg"/></p>
      </div> -->
    </div>
  </div>
  <script type="text/javascript">
    var detail = require("news/detail/detail");
    detail.init();
  </script>
</body>

</html>
