<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="/widget/meate/meate.html?__inline">
  <link rel="stylesheet" href="../site/index/index.css">
</head>

<body>
  <header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 id="title" class="mui-title">首页1</h1>
  </header>
  <nav class="mui-bar mui-bar-tab">
  <a id="defaultTab" class="mui-tab-item mui-active" href="list.html">
    <span class="mui-icon mui-icon-home"></span>
    <span class="mui-tab-label">首页1</span>
  </a>
  <a class="mui-tab-item" href="list-1.html">
    <span class="mui-icon mui-icon-email"><span class="mui-badge">9</span></span>
    <span class="mui-tab-label">消息</span>
  </a>
  <a class="mui-tab-item" href="list-2.html">
    <span class="mui-icon mui-icon-contact"></span>
    <span class="mui-tab-label">通讯录</span>
  </a>
  <a class="mui-tab-item" href="list-3.html">
    <span class="mui-icon mui-icon-gear"></span>
    <span class="mui-tab-label">设置</span>
  </a>
</nav>


  <script src="site/index/index.js" charset="utf-8"></script>
  <script type="text/javascript">
    var news = require('news/news');
    news.init();
  </script>
</body>

</html>
