<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="import" href="/widget/meate/meate.html?__inline">
</head>

<body>
  <link rel="import" href="/widget/head/head.html?__inline">
  <link rel="import" href="/widget/footer/footer.html?__inline">
  <div class="mui-content">
    <ul class="mui-table-view">
      <li class="mui-table-view-cell"><a class="mui-navigate-right">帐号与安全</a></li>
    </ul>
    <ul class="mui-table-view">
      <li class="mui-table-view-cell"><a class="mui-navigate-right">新消息通知</a></li>
      <li class="mui-table-view-cell"><a class="mui-navigate-right">隐私</a></li>
      <li class="mui-table-view-cell"><a class="mui-navigate-right">通用</a></li>
    </ul>
  </div>
</body>

</html>
