#detail {
  padding: 10px 15px; }
  #detail h2 {
    font-size: 22px; }
  #detail .content {
    color: #2e2c2c;
    margin-top: 20px; }
    #detail .content p, #detail .content span {
      color: inherit; }
    #detail .content img {
      width: 100%; }
