<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>

    <link rel="stylesheet" href="./css/mui.min.css" />
    <link rel="stylesheet" href="./css/371sports.css" />
</head>

<body>
  <header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">指尖体育</h1>
</header>

  <nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item mui-active" href="#tabbar">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-chat">
        <span class="mui-icon mui-icon-email">
            <span class="mui-badge">9</span>
        </span>
        <span class="mui-tab-label">推荐</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-contact">
        <span class="mui-icon mui-icon-contact"></span>
        <span class="mui-tab-label">热点</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-map">
        <span class="mui-icon mui-icon-gear"></span>
        <span class="mui-tab-label">我的</span>
    </a>
</nav>

  <div class="mui-content">
    <ul class="mui-table-view">
      <li class="mui-table-view-cell"><a class="mui-navigate-right">帐号与安全</a></li>
    </ul>
    <ul class="mui-table-view">
      <li class="mui-table-view-cell"><a class="mui-navigate-right">新消息通知</a></li>
      <li class="mui-table-view-cell"><a class="mui-navigate-right">隐私</a></li>
      <li class="mui-table-view-cell"><a class="mui-navigate-right">通用</a></li>
    </ul>
  </div>

<script data-loader="" src="./lib/mui.min.js"></script>
<script data-loader="" src="./lib/pizza.js"></script>
<script>/*resourcemap*/
</script>
<script src="./lib/mod.js"></script>
<script type="text/javascript" charset="utf-8" src="http://192.168.1.43:8132/livereload.js"></script></body>

</html>
