@import "../../../sass/variables.scss";
#detail{
  padding: 10px 15px;
  h2{
    font-size: 22px;
  }
  .content{
    color:#2e2c2c;
    margin-top: 20px;
    p,span{
      color:inherit;
    }
    img{
      width: 100%;
    }
  }
}
