<tr>
  <td>
    <input type="text">
  </td>
  <td>
    <select class="select1" style="120px">
      <option value="objectid">objectid</option>
      <option value="string">string</option>
      <option value="int">int</option>
      <option value="[]string">[]string</option>
      <option value="[]int">[]int</option>
    </select>
  </td>
  <td>
    <input type="text" value='json:""'>
  </td>
  <td>
    <input type="text">
  </td>
  <td><a href="#" class="btn btn-info delrow" >删除</a></td>
</tr>
